<div class="wrap">
	<header>
		<h2><a href="">Giveabit</a></h2>
	</header>
	<div class="main" role="main">
		<ul id="select">
			<li class="selected">Choose a Charity:</li>
			<li>Charity Name2</li>
			<li>Charity Name3</li>
			<li>Charity Name4</li>
			<li>Charity Name5</li>
			<span></span>
		</ul>
		<form action="" method="">
			<!--<h2>Not there? Try <strong>searching for one</strong> here.</h2>-->
			<fieldset class="search">
				<label for=""><span>Search for charities:</span>
					<input type="search" vale="" id="search" placeholder="Not there? Try searching for one here." name="q" />
				</label>
			</fieldset>
			<div class="payment">
				<fieldset>
					<label for="field1"><span>field1</span>
						<input type="text" value="" name="field1" />
					</label>
				</fieldset>
				<fieldset>
					<label for="field2"><span>field2</span>
						<input type="text" value="" name="field2" />
					</label>
				</fieldset>
				<fieldset>
					<label for="field3"><span>field3</span>
						<input type="text" value="" name="field3" />
					</label>
				</fieldset>
			</div>
		</form>
	</div>
</div>
<div class="half"></div>