/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

/*! normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */
.snippet,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}html,button,input,select,textarea{font-family:'Arimo', 'Helvetica Neue', Arial, sans-serif;}body{margin:0}a:focus{outline:thin dotted}a:hover,a:active{outline:0}h1{font-size:2em;margin:.67em 0}h2{font-size:1.5em;margin:.83em 0}h3{font-size:1.17em;margin:1em 0}h4{font-size:1em;margin:1.33em 0}h5{font-size:.83em;margin:1.67em 0}h6{font-size:.75em;margin:2.33em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}blockquote{margin:1em 40px}dfn{font-style:italic}mark{background:#ff0;color:#000}p,pre{margin:1em 0}pre,code,kbd,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small{font-size:75%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}dl,menu,ol,ul{margin:1em 0}dd{margin:0 0 0 40px}menu,ol,ul{padding:0 0 0 40px}nav ul,nav ol{list-style:none;list-style-image:none}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal;*margin-left:-7px}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal}button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible}button[disabled],input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}
* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
input {
	-webkit-border-radius:0;
	-webkit-appearance:none;
}
::selection {
	background:#E9A900;
	color:white;
	text-shadow:none;
	opacity:1 !important;
}
::-moz-selection {
	background:#E9A900;
	color:white;
	text-shadow:none;
	opacity:1 !important;
}
html {
	height:100%;
	min-height:100%;
	width:100%;
	font:100%/1.5 'Oxygen', 'Helvetica Neue', Arial, sans-serif;
	overflow-x:hidden;
	line-height:1.5;
	color:white;
	background:#00B7BF;
	position:relative;
	letter-spacing:normal;
	text-shadow:0 1px 0 rgba(0,0,0,0.075), 0 2px 1px rgba(0,0,0,0.05), 0 3px 2px rgba(0,0,0,0.025);
}
body {
	width:100%;
	height:100%;
	display:table;
	padding:2em 0;
}
.wrap {
	width:100%;
	height:100%;
	display:table-cell;
	vertical-align:middle;
}
h1, h2, h3 {
	line-height:1.1;
}
h1 { font-size:2.5em; }
h2 { font-size:2em; }
h3 { font-size:1.5em; }

h1, h2, h3, h4, p {
	margin:0 0 .65em;
}
p, small {
	font-family:'Helvetica Neue', Arial, sans-serif;
}

.cf:before, .cf:after, header:before, header:after { content:""; display:table; }
.cf:after, .clear, header:after { clear:both; }
.cf, header { *zoom:1; }

a {
	color:#E9A900;
	font-weight:bold;
}

header, .main {
	width:100%;
	padding:0 1.5em;
	position:relative;
	z-index:2;
}
.main.form {
	padding:0;
}
header, header * {
	text-align:center;
	text-decoration:none;
	margin:0;
	color:white;
}
header h2 {
	margin:0 0 .75em;
}
header h2 a:after {
	content:"";
	display:inline-block;
	position:relative;
	left:8px;
	height:.8em;
	width:.8em;
	background:white;
	opacity:.5;
	box-shadow:0 1px 0 rgba(0,0,0,0.075), 0 2px 1px rgba(0,0,0,0.05), 0 3px 2px rgba(0,0,0,0.025);
}

.main ul {
	height:3em;
	overflow:hidden;
	margin:1em 0;
	padding:0;
	outline:5px solid rgba(255,255,255,0.2);
	position:relative;
	background:#00B7BF;
}
.main ul span {
	position:absolute;
	right:0;
	top:0;
	display:block;
	background:rgba(0,0,0,0.2);
	height:3em;
	width:3em;
	cursor:pointer;
}
.main ul span:hover {
	background:rgba(0,0,0,0.35);
}
.main ul span:active {
	background:rgba(0,0,0,0.5);
	color:rgba(255,255,255,0.75);
}
.main ul span:before, .main ul span:after {
	content:"";
	display:block;
	position:absolute;
	right:1em;
	border-left:8px solid transparent;
	border-right:8px solid transparent;
}
.main ul span:before {
	border-top:8px solid white;
	top:1.6em;
}
.main ul span:after {
	border-bottom:8px solid white;
	top:.9em;
}
.main ul.show {
	height:auto;
	overflow:visible;
}
.main ul.show span {
	top:-2.1em;
	right:-.3em;
	color:white;
	height:1.5em;
	width:1.5em;
	text-align:center;
	display:none;
}
.main ul.show span:before {
	content:"\2717";
	border:0;
	top:-.1em;
	right:.5em;
}
.main ul.show span:after {
	display:none;
}
.main li, .main .show li.hide {
	list-style:none;
	padding:1em;
	background:rgba(0,0,0,0.2);
	line-height:1;
	font-weight:bold;
	cursor:pointer;
	display:none;
}
.main li.selected, .main .show li {
	display:list-item;
}
.main li:hover {
	background:rgba(0,0,0,0.35);
}
.main li:active {
	background:rgba(0,0,0,0.5);
	color:rgba(255,255,255,0.75);
}
.main h2 {
	text-align:center;
	font-size:1.15em;
	font-weight:normal;
	color:#00B7BF;
	margin:1.5em 0 0;
}
.main form {
	margin:2em 0;
	padding:1.5em;
	background:white;
	outline:5px solid rgba(0,0,0,0.2);
	text-align:center;
	color:#333;
	text-shadow:none;
	display:none;
}
.main .info, .main .info h2 {
	text-align:left;
	padding:0;
}
.main .info {
	padding:0 0 1em;
}
.main .info p {
	color:#888;
	font-size:90%;
	margin-bottom:.5em;
}
.main form.show {
	display:block;
}
.main form * {
	padding:0;
	margin:0;
	border:0;
}
.main form p {
	
}

.search, .search span {
	display:none;
}
.search input[type=text], .search input[type=search], input[type=text], input[type=submit] {
	border:0;
	width:100%;
	background:none;
	text-align:center;
	font-size:1.15em;
	font-weight:normal;
	opacity:.7;
	margin:1em 0 0;
	padding:.75em 0;
	outline:none;
}
/*::-webkit-input-placeholder {
	color:white;
}
::-moz-input-placeholder {
	color:white;
}
::input-placeholder {
	color:white;
}*/
.search input:focus, .search input.show {
	opacity:1;
	background:rgba(0,0,0,0.2);
	outline:none;
}

.main fieldset {
	margin:0 0 1.5em;
	position:relative;
}
.main label span {
	position:absolute;
	left:1em;
	top:.95em;
	line-height:1.2;
	opacity:.55;
	/*border-right:5px solid #ccc;*/
	width:70px;
	text-align:left;
}
.main small {
	display:block;
	text-align:left;
	margin:1em 0 0;
	line-height:1;
	padding:0 0 0 1em;
	border-left:1px solid #ccc;
	opacity:.75;
	font-weight:bold;
}
.main .mouse {
	border:0;
	padding:0;
	text-align:center;
}
input[type=text], input[type=submit] {
	background:rgba(0,0,0,0.1);
	margin:0;
	outline:none;
	position:relative;
	padding-left:100px;
	text-align:left;
}
.main .third {
	float:left;
	width:47%;
	margin:0 8px 0 0;
	padding:0;
	position:relative;
}
.third label span {
	width:auto;
	border:0;
}
.third + .third {
	float:right;
	padding:0;
	margin:0;
}
.third + .third + .third {
	clear:both;
	float:left;
	padding:0;
	margin:15px 0 0;
}
.third input[type=text] {
	padding:.75em 15px .75em 0;
	text-align:right;
}
input[type=submit] {
	text-align:center;
	background:#E9A900;
	padding:.75em 0;
	color:#B52C02;
	font-weight:bold;
}
input[type=text]:focus {
	outline:5px solid #00B7BF;
}
input[type=text].good {
	outline:5px solid #9CE2E6;
}
input[type=text].fix-me {
	outline:5px solid red;
}
label.cc {
	position:relative;
}
label.cc span {
	top:0;
}
label.cc:after {
	content:"";
	height:15px;
	width:26px;
	background:#00B7BF;
	position:absolute;
	right:1em;
	top:.2em;
	font-size:10px;
	padding:2px 3px;
	color:white;
	font-weight:bold;
	text-align:center;
	border-radius:2px;
	display:none;
}
label.cc.amex:after {
	content:"amex";
}
label.cc.visa:after {
	content:"visa";
}
label.cc.mc:after {
	content:"mc";
}
label.cc.disc:after {
	content:"disc";
}
input[type=submit]:hover {
	opacity:1;
}
input[type=submit]:focus {
	opacity:1;
	outline:5px solid #00B7BF;
}
input[type=submit]:active {
	padding:.8em 0 .7em;
	box-shadow:0 1px 3px rgba(0,0,0,0.2) inset, 0 1px 10px 0 rgba(0,0,0,0.1) inset;
}
.main form h2 {
	text-align:left;
	margin:0 0 .75em;
	line-height:1.2;
}
.main form h3 {
	color:red;
	font-size:1em;
	padding:0 0 1em;
}

fieldset.donate.init {
	margin:0 0 .3em;
}
.donate label {
	float:left;
	margin:0 .75em 0 0;
	display:inline-block;
	background:#E9A900;
	color:white;
	line-height:1;
	padding:.35em .5em;
	cursor:pointer;
	outline:2px solid rgba(0,0,0,0.075);
	text-shadow:0 1px 0 rgba(0,0,0,0.075), 0 2px 1px rgba(0,0,0,0.05), 0 3px 2px rgba(0,0,0,0.025);
}
.donate label:active {
	opacity:.75;
}
.donate label.selected {
	background:#00B7BF;
}
.donate label input {
	display:none;
}

.not-yet, .donate.yep {
	display:none;
}

#amount.yep {
	padding-bottom:7px;
}

span.chng {
	/*float:right;*/
	font:bold 60%/1 'Helvetica Neue', Arial, sans-serif;
	background:#E9A900;
	padding:5px 7px 6px;
	color:white;
	border-radius:2px;
	cursor:pointer;
	margin:-1em 0 2em;
	float:left;
	display:none;
	text-shadow:0 1px 0 rgba(0,0,0,0.075), 0 2px 1px rgba(0,0,0,0.05), 0 3px 2px rgba(0,0,0,0.025);
}
span.chng.yep {
	display:inline-block;
}
span.chng:active {
	opacity:.5;
}

.payment {
	display:;
}
.payment.show {
	display:block;
}
.half {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#E9A900;
	background-size:cover;
	z-index:1;
	display:table;
}
.half.show {
	-webkit-filter:opacity(0.75);
	-moz-filter:opacity(0.75);
	filter:opacity(0.75);
}

.c-info {
	position:absolute;
	width:100%;
	height:100%;
	min-height:100%;
	top:0;
	right:-100%;
	background:#005f63;
	box-shadow:-5px 0 0 rgba(0,0,0,0.1);
	padding:3em;
	z-index:3;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
	display:none;
}
.c-info.show {
	display:table;
	right:0;
}
.c-info span {
	font-size:2em;	
	opacity:.5;
	cursor:pointer;
	display:block;
	margin:1em auto 0;
	text-align:center;
}
.c-info span:after {
	content:"\2717";
}
.c-info span:active {
	opacity:.2;
}

.c-info iframe, .c-info img {
	width:100%;
	max-width:100%;
	display:block;
	margin:1em 0 2em;
	outline:5px solid rgba(255,255,255,0.2);
}

.c-info .showd {
	padding:.25em 1em 0;
}
.c-info .showd * {
	margin:1em 0 .65em;
}
.c-info p {
	font-size:80%;
}

@media screen and (min-width:32.5em){
	.main .third, .third + .third {
		float:left;
		width:32%;
		margin:0 8px 0 0;
		padding:0 8px 0 0;
		position:relative;
	}
	.third label span {
		width:auto;
		border:0;
	}
	.third + .third + .third {
		clear:none;
		float:right;
		padding:0;
		margin:0;
	}
}
@media screen and (min-width:40em){
	header, .main {
		width:35em;
		margin:0 auto;
		padding:0;
	}
	.main ul, .main form {
		width:100%;
		margin:1em auto;
	}
	.main form {
		margin:2em auto;
	}
	.main label span {
		width:100px;
	}
	input[type=text] {
		padding-left:130px;
	}
	label.cc:after {
		display:inline-block;
	}
	.c-info {
		/*max-width:500px;*/
		position:fixed;
		overflow:scroll;
	}
	.load {
		max-width:500px;
		margin:0 auto;
	}
	/*.c-info span {
		position:absolute;
		font-size:2em;	
		top:.75em;
		right:1em;
		opacity:.5;
		cursor:pointer;
		margin:0;
	}*/
}

@media screen and (max-height:50em){
	/*.c-info.show {
		position:absolute;
		display:table;
		padding-bottom:5em;
	}*/
}

@media screen and (min-height:35em){
	html {
		overflow:auto
	}
	/*.main ul {
		background:#00B7BF;
	}*/
	.half {
		height:53%;
		box-shadow:0 -5px 0 rgba(0,0,0,0.1) inset;
	}
}

@-moz-document url-prefix() {
	.main ul span:after {
		right:.95em;
	}
	/*.main ul span:before {
		right:1.05em;
	}*/
	.donate label {
		border:2px solid #efefef;
		outline:none;
	}
}