<!DOCTYPE html>
<html>
	<head>
		<title>Giveabit</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<%= yield %>
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<%= javascript_include_tag "application" %>
	</body>
</html>